@{
    ViewBag.Title = "Home Page";
}

<style>
    .wrapper {
        display: flex;
    }

    #top {
        background-color: #2574A9;
        font-family: 'Segoe UI';
        color: #fff;
        height: 60px;
        border: 1px solid #fff;
        border-radius: .50rem;
        align-content: center;
    }
    /*#services ul {
        display: block;
        float: right;
        width: 230px;
        padding-top: 6px;
        padding-right: 20px;
        padding-left: 9px;
        margin: 4px;
    }*/
    .addBtn {
        background-color: #539C15
    }

    .post {
        color: #000000;
        background-color: #ADD8E6;
        width: 498px;
        height: 75px;
        display: inline-block;
        position: inherit;
        padding-right: 6px;
        padding-left: 6px;
        border: 1px solid #2574A9;
        border-radius: 4px;
        list-style: none;
    }

    #sidebar {
        float: left;
        width: 280px;
        /*background-color:red;
       width:100px;
       height:500px;*/
    }

    .align {
        height: 1000px;
        background-color: cornflowerblue;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
        display: block;
        float: left;
        width: 500px;
    }

    #servicesContainer {
        padding-left: 0px;
        display: block;
        float: inherit;
        width: 230px;
        padding-top: 3px;
        margin: 1px;
    }

    .post h4 {
        border-bottom: 1px dotted #6BA3A3;
        border-top: 1px dotted #6BA3A3;
        font-weight: 600;
    }

    .post a {
        background-color: #F6F6F6;
    }

    .post button {
        background-color: #F6F6F6;
    }

    .glyphicon {
        padding-top: 5px;
    }

    .row1 {
        height: 20px;
        padding-bottom: 35px;
    }

    #col0 {
        padding-right: 144px;
        height: 30px;
        width: 205px;
    }

    #col1 {
        padding-right: 0px;
        padding-left: 20px;
        height: 30px;
        width: 150px;
    }

    #col2 {
        padding-right: 0px;
        padding-left: 20px;
        height: 50px;
        width: 300px;
    }

    #col3 {
        padding-right: 0px;
        padding-left: 20px;
        height: 50px;
        width: 300px;
        margin-top: 25px;
    }

    .header {
        padding-left: 50px;
    }

    /*#partial {
        margin-top: -350px;
        width: 250px;
    }*/
    #part {
        width: 450px;
        margin-top: -350px;
        /*margin-left: 150px;*/
    }
    .container {
        width: 1500px;
    }

</style>

@section scripts {
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        function addPostHtml(postModel) {
            var postHtml = ` <li class="post" id=${postModel.Id}>
                                                     <h3 id="cardid" style="display:none">${postModel.Id}</h3>
                                                     <h4 id="name"> ${postModel.Name}</h4>
                                                     <p id="post">${postModel.Text}</p>
                                                     </div>
                                                     </li>`;
            $("#servicesContainer").append(postHtml);
        }

        function addNewPost() {
            //var bd = 1;
            //var id = 0;
            var name = $("#Name").val();
            var text = $("#Text").val();
            // var id;
            var newPost = { Id: 0, Name: name, Text: text };

            addPostHtml(newPost);
            //  AddCardSignal(newCard);
            addPostHub.server.addNewShape(newPost);
        }

        $(document).ready(function () {

            addPostHub = $.connection.addShapeHub;

            addPostHub.client.newShapeAdded = function (shapeModel) {

                addPostHtml(shapeModel);
            };

            $.connection.hub.start().done(function () {
                addPostHub.server.firstHandShake();
            });
        });
        //<span id="button12 ">
        //    <button type="button" class="btn addBtn " onclick="saveCards()">Save</button>
        //</span>
        var uri = 'http://localhost:64135/api/EduCom/getAllTopics/';
    function clearList() {
        $('#class-list').empty();
    }
        window.onload = function getTopics() {
        clearList();

        $.getJSON(uri).done(function (data) {

            $.each(data, function (key, item) {
                //$('<button onclick="posts()">' + item.ID + '</h4> <p>' + item.TopicName + '</p> '
                $('<li> <h4>' + item.ID +':' + item.TopicName + '</h4> '
                    , { text: item.ID + ' : ' + item.TopicName }).appendTo($('#class-list'));

                //$('<button onclick="posts()">', { text: item.ID + ' : ' + item.TopicName }).appendTo($('#class-list'));
            });
        });
        }

        var uri1 = 'http://localhost:64135/api/EduCom/getAllPosts/';

        function clearList() {
            $('#servicesContainer').empty();
        }

        function posts() {
            clearList();
           // document.getElementById('#topicID').value = ID;
            var topicID = $('#topicID').val();
            $.getJSON(uri1 + topicID).done(function (data) {

                $.each(data, function (key, item) {
                    $('<li class="post">  <h4 id="name">  </h4>   <p id="post">' + item.Text + '</p>    </div></li>',
                        { text: item.topicID + ' : ' + item.Text }).appendTo($('#servicesContainer'));
                });
            });

        }
        //function posts() {
        //    var topicID = $('#topicID').val();
        //    $('#servicesContainer').empty();

        //    $.getJSON(uri1 + topicID).done(
        //        function (data) {
        //            if (data.Posts) {
        //                $.each(data.Posts, function (i, item) {
        //                    $('<li class="post">  <h4 id="name">  </h4>   <p id="post">' + item.Text + '</p>    </div></li>',
        //                        { text: item.Text }).appendTo($('#servicesContainer'));
        //                });
        //            }
        //        })
        //}

    </script>
}
    <div class="container">
        @*<div class="row">*@

        <div class="col-xs-2 col-sm-2 col-md-2" id="sidebar">
            <h2><strong>Choose A Topic</strong></h2>
            <div>
                <label>Select by id:</label>
                <input type="text" id="topicID" size="7" />
                <button type="button" class="btn btn-primary btn-md" onclick="posts()">View Posts</button>
            </div>
            @*<input type="button" value="Get Topics" class="btn btn-primary" onclick="getTopics()" />*@
            <ul id="class-list" class="list-group" />
            <br />

            @*@Html.Partial("_Sidebar")*@
        </div>

      
        <div class="col-xs-5 col-sm-5 col-md-5">
            <div class="align">
                <form method="post">
                    <div class="header">
                        <h1> <strong>Write Your Post Here</strong></h1>
                    </div>
                    <div class="row1">
                        <div class="col-xs-1 col-sm-1 col-md-1" id="col1">
                            <label for="name">Your Name</label>
                            <input type="text" class="form-control" name="Name" id="Name" placeholder="Your Name">
                        </div>
                        <div class="col-xs-1 col-sm-1 col-md-1" id="col2">
                            <label for="post">Your Post</label>
                            <textarea class="form-control rounded-0" name="Text" id="Text" rows="1" placeholder="add text here"></textarea>
                        </div>
                    </div>

                    <div class="row1">
                        <div class="col-xs-1 col-sm-1 col-md-1" id="col3">
                            <span id="button1 ">
                                <button type="button" onclick="addNewPost()" class="btn btn-primary btn-md"><strong>Add</strong></button>
                            </span>
                        </div>
                    </div>

                    <ul id="servicesContainer"></ul>
                </form>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3" id="part">
            <div id="partial">@Html.Partial("_InfoPage")</div>
        </div>
        @*</div>*@
    </div>
